{% extends "casos/base.html" %}
{% block content %}
    <h1>Acerca de SUR-Gen home</h1>
    <p> 
        Surgen es un Sistema Unificado de Registros para que las víctimas de violencia de género 
        puedan administrar los datos y la información de sus casos,y así evitar 
        la revictimización ocurrida cuando una recurre a las autoridades y éstas 
        le requieran información relacionada con las situaciones de violencia.
    </p>
    <h4>Objetivos</h4>
    <p>
        Esta aplicación esta destinada a unificar, historizar y dar acceso inmediato y virtualizado,
        a documentos, incidencias y acciones que son relevantes 
        para la asistencia de una persona en situación de violencia de género, 
        creando un registro perdurable y accesible de estos incidentes. 
    </p>
{% endblock content %}