{% extends "casos/base.html" %}
{% block content %}

    {% if user.is_authenticated %}
        <h5>Nueva entrada:</h5>
        <br/>
        <form action="" method=POST enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_nota.as_p }}
        <br/>
        <input type="submit" value="Update" class="btn btn-secondary">
    {% else %}
        <h1>Sorry! You Must Be Logged In To View This Page...</h1>
        <a href="{% url 'login' %}">Login Here</a>
    {% endif %}

{% endblock content %} 