{% extends "casos/base.html" %}
{% block content %}
    <h1>SUR-Gen</h1>
    </br>
    <h2>Causa: {{caso}}
    </h2> 
    </br>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
        <button class="nav-link active" id="hist-tab" data-bs-toggle="tab" data-bs-target="#hist" type="button" role="tab" aria-controls="hist" aria-selected="true">Historico</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="notas-tab" data-bs-toggle="tab" data-bs-target="#notas" type="button" role="tab" aria-controls="incidencias" aria-selected="false">Mis Notas</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="recursos-tab" data-bs-toggle="tab" data-bs-target="#recursos" type="button" role="tab" aria-controls="recursos" aria-selected="false">Recursos</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <!-- Historico-->
        <div class="tab-pane fade show active" id="hist" role="tabpanel" aria-labelledby="hist-tab">
            <br>
            <ul class="timeline">
                {% for evento in historial %} 
                    <li class="timeline-item mb-5">
                        <h5>{{evento.nombre}}</h5>
                        <p class="text-muted mb-2 fw-bold">{{evento.fecha}}</p>
                        <p>{{evento.descripcion}}</p>
                    </li>
                {% endfor %}
            </ul>
            <br>
            <div class="col-sm-12 text-lg-end">
                <a href="{% url 'casos-documentos' caso.id -1%}"> <button type="button" class="btn btn-primary">Ver Documentos</button> </a>
            </div>
            <br>
        </div>
        <!-- Mis notas-->
        <div class="tab-pane fade" id="notas" role="tabpanel" aria-labelledby="notas-tab">
            <br>
            <ul>
                {% for nota in notas %}
                    <div class="card mb-4">
                        <div class = "card-body">
                            <h5>{{nota.fecha}}</h5>   
                            <div class="row-sm-9">
                                {{nota.descripcion}}
                            </div>  
                            <div>{{nota.fecha_post}}</div>  
                        </div>           
                    </div>
                {% endfor %}
            </ul>
            <br>
            <div class="col-sm-12 text-lg-end">
                <a href="{% url 'casos-agregar_nota' caso.id%}"> <button type="button" class="btn btn-outline-secondary">Agregar</button> </a>
            </div>
            <br>  
            <div class="col-sm-12 text-lg">
                <a href=""> <button type="button" class="btn btn-primary">Descargar</button> </a>
            </div>
            <br>
        </div>
        <!-- Recursos-->
        <div class="tab-pane fade" id="recursos" role="tabpanel" aria-labelledby="recursos-tab">
            <br>
            <div>Recursos</div>
        </div>
    </div>
    
{% endblock content %}        