{% extends "casos/base.html" %}
{% block content %}
    <h1>SUR-Gen</h1>
    </br>
    <h2>Caso {{caso.agresor}}</h2> <!-- aca como son varios no aparece?-->
    </br>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
        <button class="nav-link active" id="hist-tab" data-bs-toggle="tab" data-bs-target="#hist" type="button" role="tab" aria-controls="hist" aria-selected="true">Historico</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="incidencias-tab" data-bs-toggle="tab" data-bs-target="#incidencias" type="button" role="tab" aria-controls="incidencias" aria-selected="false">Incidencias</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="documentos-tab" data-bs-toggle="tab" data-bs-target="#documentos" type="button" role="tab" aria-controls="documentos" aria-selected="false">Documentos</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <!-- Historico-->
        <div class="tab-pane fade show active" id="hist" role="tabpanel" aria-labelledby="hist-tab">
            <br>
            <ul class="timeline">
                {% for evento in historial %} 
                    <li class="timeline-item mb-5">
                        <h5>{{evento.nombre}}</h5>
                        <p class="text-muted mb-2 fw-bold">{{evento.fecha}}</p>
                        <p>{{evento.descripcion}}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- Incidencias-->
        <div class="tab-pane fade" id="incidencias" role="tabpanel" aria-labelledby="incidencias-tab">
            <br>
            <ul>
              {% for incidencia in incidencias %}
                <div class="card mb-4">
                    <div class = "card-body">
                        <h5>{{incidencia.nombre}}</h5>
                        <div class="row-sm-9 text-secondary">
                            fecha : {{ incidencia.fecha }}
                        </div>   
                        <div class="row-sm-9">
                            {{incidencia.descripcion}}
                        </div>    
                    </div>           
                </div>
              {% endfor %}
            </ul>
        </div>
        <!-- Documentos-->
        <div class="tab-pane fade" id="documentos" role="tabpanel" aria-labelledby="documentos-tab">
            <br>
            <ul>
              {% for documento in documentos %}
                <div class="card mb-4">
                    <div class = "card-body">
                        <h5>{{documento.archivo}}</h5> <!-- ACA SE PODRIA AGREGAR UN ATRIBUTO NOMBRE-->
                        <div class="row-sm-9 text-secondary">
                            fecha : {{ documento.fecha }}
                        </div>   
                        <div class="row-sm-9">
                            {{documento.descripcion}}
                        </div>    
                        <div class="col-sm-12 text-lg-end">
                              <button type="button" class="btn btn-primary stretched-link">Descargar</button>
                        </div>
                    </div>           
                </div>
              {% endfor %}
            </ul>
        </div>
    </div>
    
{% endblock content %}        