{% extends "casos/base.html" %}
{% block content %}
    <h1>SUR-Gen</h1>
    </br>
    <h2>Documentos del caso: {{caso}}</h2> 
    <div class="col-sm text-lg-end">
        <a href="{% url 'casos-caso' caso.id%}"> <button type="button" class="btn btn-secondary">Volver</button> </a>
    </div>
    </br>
    <!-- Documentos-->
    <div class="container">
    <div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            {% for documento in documentos %}
            <li class="list-group-item">
                <div class='container-side-by-side'>
                    <div class="row">
                    <div class="col-sm"><a href="{% url 'casos-documentos' caso.id documento.id%}" class="list-group-item">{{documento.archivo}}</a></div>
                    <div class="col-sm">
                        <div class="col-sm text-lg-end">
                            <a href="{% url 'descargar' documento.archivo%}"> <button type="button" class="btn btn-primary"><i class="fa fa-download"></i></button> </a>
                        </div>
                    </div>
                    </div>
                </div>
            </li>
            {% endfor %}    
        </div>
    </div>
    <div class="col-sm">
        <div class="card mb-4"> 
            {% if doc_actual == NULL %}
                <div> seleccionar archivo </div> <!-- Nunca entra aca, cuando entro por primera vez sin un doc seleccionado no lo toma como null lo toma como (0,)-->
            {% else %}
                <div>
                    <h3>{{doc_actual.archivo.name}}</h3>
                    <!-- TODO -->
                </div>
            {% endif %}
        </div>
    </div>
    </div>
    </div>
    
{% endblock content %}        